# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Logs
*.log
activity.log

# Data files (optional: if you don’t want to push JSON)
Data/*.json

# OS files
.DS_Store
Thumbs.db